<div class="wrapper-landing">
  <div class="rectangle-shapes-1"></div>
  <div class="rectangle-shapes-2"></div>

  <nav class="navigation-bar">
    <div class="start-nav">
      <a href="#"><span> orangeclass </span></a>
    </div>
    <div class="end-nav">
      <ul class="list-nav">
        <a class="item-nav" href="#section-1">
          <li>Rastrea</li>
        </a>
        <a class="item-nav" href="#section-2">
          <li>Servicios</li>
        </a>
        <a class="item-nav" href="">
          <li>Paquetes</li>
        </a>
      </ul>
      <button class="btn-login">Iniciar Sesión</button>
    </div>
  </nav>
  <section class="section-1" id="section-1">
    <div class="information-section-1">
      <p class="section-1-text">
        Lorem ipsum dolor consectetur sit amet,  adipisicing elit.
      </p>
      <p class="section-1-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dicta dolor dolore ea earum eligendi, eum eveniet
        hic illo ipsa laborum magni nam nihil nobis numquam porro quidem quos sequi?
      </p>
    </div>

    <div class="form-card">
      <div class="card grid">
        <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
        <div class="col-12">
          <div class="form-container-v2">
            <div class="form-group-v2">
              <input type="text" class="form-input-v2" placeholder="Telefóno">
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-container-v2">
            <div class="form-group-v2">
              <input type="text" class="form-input-v2" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-container-v2">
            <div class="form-group-v2">
              <input type="text" class="form-input-v2" placeholder="sdsd">
            </div>
          </div>
        </div>
        <button class="btn-generic">Registrarte</button>


      </div>

    </div>
  </section>
  <section class="section-2" id="section-2">
    <div class="rectangle-shapes-3"></div>
  </section>
</div>
