<div class="wrapper-landing">
  <nav class="navigation-bar">
    <div class="start-nav">
      <a href="#"><span> orangeclass </span></a>
    </div>
    <div class="end-nav">
      <ul class="list-nav">
        <a class="item-nav" href="#section-1">
          <li>Rastrea</li>
        </a>
        <a class="item-nav" href="#section-2">
          <li>Servicios</li>
        </a>
        <a class="item-nav" href="#section-3">
          <li>Paquetes</li>
        </a>
      </ul>
      <button class="btn-login">Iniciar Sesión</button>
    </div>
  </nav>
  <section class="section-1" id="section-1">
    <div class="rectangle-shapes-1"></div>
    <div class="rectangle-shapes-2"></div>
    <div class="information-section-1">
      <p class="section-1-text">
        Lorem ipsum dolor consectetur sit amet, adipisicing elit.
      </p>
      <p class="section-1-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dicta dolor dolore ea earum eligendi, eum
        eveniet
        hic illo ipsa laborum magni nam nihil nobis numquam porro quidem quos sequi?
      </p>
    </div>

    <div class="form-card">
      <div class="card grid">
        <span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
        <div class="col-12">
          <div class="form-container-v2">
            <div class="form-group-v2">
              <input type="text" class="form-input-v2" placeholder="Telefóno">
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-container-v2">
            <div class="form-group-v2">
              <input type="text" class="form-input-v2" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-container-v2">
            <div class="form-group-v2">
              <input type="text" class="form-input-v2" placeholder="sdsd">
            </div>
          </div>
        </div>
        <button class="btn-generic">Registrarte</button>
      </div>
    </div>
  </section>
  <section class="section-2" id="section-2">
    <div class="rectangle-shapes-3"></div>
    <img priority="" ngSrc="assets/images/image-1.png" alt="imagen" class="image-section" height="1624" width="2599">
    <div class="information-section-2 mb-8">
      <h1 class="title-section">Lorem ipsum dolor </h1>
      <p class="subtitle-section mb-4"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dicta dolor
        dolore ea</p>
      <div class="subsection">
        <img src="assets/svg/cute-animals-svgrepo-com.svg" alt="icon" class="icon-icon">
        <div>
          <h1 class="subtitle-section">LOREM IPSUM DOLOR </h1>
          <p class="description-section"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dicta dolor
            dolore ea</p>
        </div>
      </div>
      <div class="subsection">
        <img src="assets/svg/dinosaur-svgrepo-com.svg" alt="icon" class="icon-icon">
        <div>
          <h1 class="subtitle-section">LOREM IPSUM DOLOR </h1>
          <p class="description-section"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dicta dolor
            dolore ea</p>
        </div>
      </div>
      <div class="subsection">
        <img src="assets/svg/whale-svgrepo-com.svg" alt="icon" class="icon-icon">
        <div>
          <h1 class="subtitle-section">LOREM IPSUM DOLOR </h1>
          <p class="description-section"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dicta dolor
            dolore ea</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-3" id="section-3">
    <div class="rectangle-shapes-4"></div>
      <div class="information-section-2">
        <h1 class="title-section">Lorem ipsum dolor </h1>
        <div>
          <h1 class="subtitle-section">LOREM IPSUM DOLOR</h1>
          <p class="description-section"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dicta dolor
            dolore ea</p>
        </div>
        <div>
          <h1 class="subtitle-section">LOREM IPSUM DOLOR</h1>
          <p class="description-section"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dicta dolor
            dolore ea</p>
        </div>
      </div>
      <img priority="" ngSrc="assets/images/image-1.png" alt="imagen" class="image-section" height="1624" width="2599">

<!--    <div class="text">-->
<!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi cumque deleniti distinctio dolore-->
<!--        dolorem error esse facere fugit iusto nisi nobis, nostrum pariatur perferendis quasi, reprehenderit sint, sit-->
<!--        voluptates.</p>-->
<!--      <div class="images">-->
<!--        <img src="">-->
<!--      </div>-->
<!--    </div>-->
  </section>
</div>
